body{
    font-family: 微軟正黑體;
    position: relative;
}

.title{
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    color: #004499;
    border-bottom: 1px solid #004499;
}

.py-my{
    padding: 2.5rem 0;
}

.container-fluid{
    max-width: 1200px;

}
nav{
    background-color: #004499;
}
nav.fixed{
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 4;
}
.nav-item.active{
    background-color: #000;
}
.nav-item:hover{
    border: 2px solid rgba(255, 255, 255, 0.6); 
}
#home{
    padding-top: 88px;
}
#home .bottom_row{
    position: absolute;
    margin: 0;
    bottom: 1rem;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}
#home .swiper-button-next,#home .swiper-button-prev{
    margin-top: 0;
    background-image: none;
    position: static;
}
#home .swiper-pagination{
    position: static;
}
#home .swiper-pagination-bullet{
    margin: 0 1rem;
}
#slide_1{
    background-image: url('/img/怪物遊戲2-banner_工作區域\ 1.png');
    background-size: cover;
    background-position: 70% center;
}
#slide_1 img{
    opacity: 0;
    width: 100%;
}
#movie_time{
    background-color: #000;
}
#movie_time .filter-wrap{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
}
#movie_time .filter{
    padding: 3px 20px;
    color: white;
    cursor: pointer;
}
#movie_time .filter:hover{
    background-color: rgba(255,255,255,0.7)
}

#movie_time .filter:first-child{
    border-right: 1px solid white;
}

#movie_time .swiper-button-prev,#movie_time .swiper-button-next{
    background-image: none;
    top: 0;
    margin-top: 0;
    width: 4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: unset;
}
#movie_time .swiper-button-next-item,#movie_time .swiper-button-prev-item{
    padding: 1rem;
    cursor: pointer;
    color: white;
}

#movie_time .swiper-button-prev{
    left: 0;
}
#movie_time .swiper-button-next{
    right: 0;
}



#promotions{
    background-color: #004499;
}

#promotions .wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #f8f9fa;
    margin-right: -15px;
}
#promotions .title{
    border-bottom-color: #004499;
}
#promotions p{
    color:  #c4e4fb;
}
#about{
    background-color: #c4e4fb;
}


#map img{
    /* opacity: 0; */
    width: 100%;
}
/* #map {
    background-attachment: fixed;
    background-image: url(/img/map.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
} */

#footer{
    background-color: #004499;
}
#footer .container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
    color: white;
}
#footer img{
    width: 50px;
}
#footer .facebook_wrap{
    padding: 10px 19px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
}
.facebook_wrap i{
    color: #004499;
}


@media (max-width:767px){

    .title{
        padding-top: 2rem;
    }
    .nav-item{
        text-align: center;
    }
    #slide_1{
        height: 70vh;
    }
    #movie_time .filter{
        width: 50%;
        text-align: center;
    }
    #movie_time .swiper-button-prev,#movie_time .swiper-button-next{  
        height: 100%;
        align-items: center;    
        background-color: unset;
    }
    .card-body{
        text-align: center;
    }
  
    #ticket_price .title{
       text-align: center;
    }
    #promotions .wrap{
        margin-right: unset;
    }
    #promotions .wrap img{
        margin-bottom: 5rem;
    }
    #promotions .wrap img:last-child{
        margin-bottom: 0;
    }
    #ticket_price .my_col{
        width: 50%;
    }
    
    #about .col-12.col-md-6:nth-child(2){
        order: -1;
    }
    #footer img{
        width: 80px;
    }
    #footer a{
        display: none;
    }
    #footer .contact{
        margin: 0 auto;
    }
}
/* movie_information */
#page{
    padding:10rem 17px;
}
#page i{
    color: white;
    position: fixed;
    top:5rem;
    left:80%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.719);
    border-radius: 3px;
}
#youtube{
    background-color: #000;
    padding-bottom: 2.5rem;
}
#information{
    padding: 2.5rem 0;
    background-color: white;
}

#information .left_wrap{
    width:32%;
    float: left;
    
}
#information .left_wrap img{
    width: 100%;
    
}
#information .right_wrap{
    width: 68%;
    padding-left: 2rem;
    float: right;
    height: 100%;
}
@media (max-width:767px){
    #youtube{
        display: none;
    }
    #information{
        padding-top: 0;
    }
    #information .left_wrap{
        width: 100%;
        float: none;
    }
    #information .right_wrap{
        width: 100%;
        float: none;
        padding-left: 0;
    }
    
}