
body{
    font-family: 微軟正黑體;
    position: relative;
    
}
#page::-webkit-scrollbar { 
    display: none; 
}


.title{
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1em;
    color: #004499;
    border-bottom: 1px solid #004499;
}
.w-50-md-25{
    width: 25%;
}

.py-my{
    padding: 2.5rem 0;
}

.container-fluid{
    max-width: 1200px;

}
nav{
    background-color: #004499;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
nav.fixed{
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 4;
}
.nav-item{
    font-size: 1.1rem;
}
.nav-item:hover{
   position: relative;
   transition: 1s;
  }
  .nav-item:hover::after{
      content: '';
      position: absolute;
      bottom: 0;
      right:calc(50% - 15px);
    border-bottom: 1px solid white;
    height: 30px;
    width: 30px;
    
   }

.nav-item.active{
    background-color: rgba(255, 255, 255, 0.452);
}
#home{
    padding-top: 88px;
}
#home .bottom_row{
    position: absolute;
    margin: 0;
    bottom: 1rem;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}
#home .swiper-button-next,#home .swiper-button-prev{
    margin-top: 0;
    background-image: none;
    position: static;
}
#home i {
    text-shadow: -5px 0 2px black, 0 5px 2px black, 5px 0 2px black, 0 -5px 2px black;

}
#home .swiper-pagination{
    position: static;
}
#home .swiper-pagination-bullet{
    margin: 0 1rem;
}
#slide_1{
    background-image: url('/img/banner/一個巨星的誕生banner.jpg');
    background-size: cover;
    background-position: 70% center;
}
#slide_2{
    background-image: url('/img/banner/怪物遊戲2banner.jpg');
    background-size: cover;
    background-position: 70% center;
}
#slide_3{
    background-image: url('/img/banner/怪獸與格林戴華banner.jpg');
    background-size: cover;
    background-position: 70% center;
}
#slide_4{
    background-image: url('/img/banner/登月先鋒banner.jpg');
    background-size: cover;
    background-position: 90% center;
}

#home img{
    opacity: 0;
    width: 100%;
}
#movie_time{
    background-color: #000;
}
#movie_time .filter-wrap{
    display: flex;
    justify-content: space-between;
    float: right;
    width: calc(25% - 30px);
    margin-bottom: 2.5rem;
}
#movie_time .filter{ 
    padding: 3px 20px;
    color: white;
    cursor: pointer;
}
#movie_time .filter:hover{
    background-color: rgba(255,255,255,0.7)
}

#movie_time .swiper-container{
    padding: 2.5rem 0;
}

#movie_time .swiper-button-prev,#movie_time .swiper-button-next{
    background-image: none;
    top: 0;
    margin-top: 0;
    width: 4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: unset;
}
#movie_time .swiper-button-next-item,#movie_time .swiper-button-prev-item{
    padding: 1rem;
    cursor: pointer;
    color: white;
    text-shadow: -5px 0 2px black, 0 5px 2px black, 5px 0 2px black, 0 -5px 2px black;
}

#movie_time .swiper-button-prev{
    left: 0;
}
#movie_time .swiper-button-next{
    right: 0;
}
.card:hover{
    background-color: rgba(95, 105, 230, 0.5);
    color: white;
    text-align: center;
    transform: scale(1.1);
    -webkit-box-shadow: 0 0 15px 5px #fdfdfdd3;
	-moz-box-shadow: 0 0 15px 5px #fdfdfdd3;
	box-shadow: 0 0 15px 5px #fdfdfdd3;
    
}

.card:hover .card-text{
    display: none;
}


#ticket_price #price2{
    display: none;
}
#ticket_price .price_title{
    border-radius : 12px;
    background-color: #004499;
    padding: 12px;
}
#ticket_price .price_content{
    font-weight : bold;
    color: #004499;
}
#ticket_price .price_price{
    font-weight : bold;
    color: #004499;
    font-family : 'Impact';
}
#ticket_price .price_co{
    font-size: 12px;
    font-family : '微軟正黑體';
}

#ticket_price .price_3d{
    font-family : 'Impact';
    font-size: 1.5rem;
    border-top:1px solid #004499;
    border-bottom:1px solid #004499;
}
#promotions{
    background-color: #004499;
    overflow: hidden;
}

#promotions .wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
   }
#promotions .title{
    border-bottom-color: #004499;
}
#promotions p{
    color:  #c4e4fb;
}
#about{
    background-color: #c4e4fb;
}


#map {
   
}
#map {
    background-attachment: fixed;
    background-image: url(/img/map.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center 180px;
    
}
#map img {
    opacity: 0;
}

#footer{
    background-color: #004499;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
#footer .container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
    color: white;
}
#footer img{
    width: 50px;
}
#footer .facebook_wrap{
    padding: 10px 19px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
}
.facebook_wrap i{
    color: #004499;
}


@media (max-width:767px){
    .w-50-md-25{
        width: 50%;
    }
    .py-my{
        padding: 1.5rem 0;
    }
    .title{
        padding-top: 0;
    }
    .nav-item{
        text-align: center;
    }
    #slide_1,#slide_2,#slide_3,#slide_4{
        height:40vh;
    }
    #movie_time .filter-wrap{
        width: 100%;
    }

    #movie_time .filter{
        width: 50%;
        text-align: center;
    }
    #movie_time .swiper-button-prev,#movie_time .swiper-button-next{  
        height: 100%;
        align-items: center;    
        background-color: unset;
    }
    #movie_time .swiper-container{
        width: 70%;
    }
    .card-body{
        text-align: center;
    }
  
    #ticket_price .title{
       text-align: center;
    }
    

    #ticket_price #price2{
        display: block;
    }
    #promotions .wrap{
        margin-right: unset;
    }
    #promotions .wrap img{
        margin-bottom: 1.5rem;
    }
    #promotions .wrap img:last-child{
        margin-bottom: 0;
    }
    #ticket_price .my_col{
        width: 50%;
    }
    
    #about .col-12.col-md-6:nth-child(2){
        order: -1;
    }
    #footer img{
        width: 80px;
    }
    #footer a{
        display: none;
    }
    #footer .contact{
        margin: 0 auto;
    }
    #map img {
        opacity: 1;
    }
}
/* movie_information */
#page{
    padding:88px 17px;
}
#page i{
    color: white;
    position: fixed;
    top:20px;
    z-index: 5;
    padding:10px 17.5px;
    background-color: rgba(0, 0, 0, 0.719);
    border-radius: 3px;
}
@media (max-width:1250px){
    #page i{
        right:32.5px;
    }
}

#youtube{
    background-color: #000;
    padding-bottom: 2.5rem;
}
#information{
    padding: 2.5rem 0;
    background-color: white;
}
#information img:first-child{
    width: 100%;
}
#information .w-md-38{
    width:38.2%;
}
#information .w-md-62{
    width:61.8%;
    padding: 0 3rem;
}


@media (max-width:767px){

    #youtube{
        display: none;
    }
    #information{
        padding-top: 0;
    }
    #information img:first-child{
        width:80%;
    }
    #information .w-md-38{
        width: 100%;
    }
    #information .w-md-62{
        width: 100%;
    }
}

.border-dashed{
    border-right-style: dashed;
}
.rounded{
    border-radius: 0.5rem!important;
}